.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  
    .input {
      width: 30vw;
    }
  
    .actions {
      display: flex;
      gap: 16px;
    }
  }
  