@use '../../../styles/palette.module';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  gap: 32px;

  .searchInput {
    width: 400px;
  }

  .destinationsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    width: 100%;
    max-width: 1200px;

    .destinationCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
      outline: 3px solid transparent;
      outline-offset: -3px;

      &:hover {
        background-color: #f7f7f7;
        transform: translateY(-2px);

        .destinationText {
          color: black;
        }
      }
    }

    .selectedDestinationCard {
      @extend .destinationCard;
      outline-color: #f7f7f7;
    }
  }
}

