@use 'common.module';

.returnButton {
  width: 100% !important;
}

.chatWindow {
  height: 100%;

  .emptyState {
    margin-top: 20%;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
}