.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  height: calc(100% - 45px);

  .messageList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    padding: 0 16px 16px 16px;
    margin-top: 16px;
    min-height: 0;
  }

  .input {
    width: 70%;
    align-self: center;
    background-color: transparent;
  }
}
