@use "../../styles/palette.module";

.container {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin: 12px 16px 0 16px;
  border-radius: 16px;
  border: 0.1px solid rgba(255, 255, 255, 0.3) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0 10px 50px;

  .logoAndLinks {
    display: flex;
    gap: 24px;
    align-items: center;

    .logo {
      text-decoration: unset;
      padding: 4px;
      transition: background-color 0.2s;
      border-radius: 8px;

      &:hover {
        > h2 {
          color: #4b7aea;
        }

        background-color: palette.$fontColor;
      }
    }

    .linksContainer {
      display: flex;
      gap: 16px;
      margin-top: 3px;

      .pageText {
        color: palette.$fontColor;
        text-decoration: transparent;

        &:hover {
          > p {
            font-weight: 700;
          }
        }
      }

      .activePageText {
        @extend .pageText;
        font-weight: 700;
        text-decoration: underline;
        text-decoration-thickness: 1.3px;
        text-underline-offset: 3px;
      }
    }
  }

  .userPreview {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
