$container-height: calc(100vh - 110px);

.container {
  display: flex;
  width: 100%;

  .detailsAndReturn {
    position: absolute;
    display: flex;
    min-width: max-content;
    height: $container-height;
    flex-direction: column;
    gap: 24px;

    .returnButton {
      align-self: flex-start;
    }

    .actions {
      display: flex;
      gap: 16px;
    }
  }

  .tripPlan {
    height: $container-height;
    min-height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0 25%;
    gap: 24px;
  }
}
