.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  .activities {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    .activity {
      width: 100%;

      .activityLocation {
        display: flex;
        margin-top: 8px;
        justify-content: space-between;
        align-items: center;

        .iconAndText {
          display: flex;
          gap: 3px;
          align-items: center;

          .icon {
            color: white;
          }
        }

        .unverifiedLocation {
          @extend .iconAndText;
          border: 1px solid #9a0606;
          border-radius: 25px;
          padding: 4px 8px;

          .text {
            color: #9a0606;
          }

          .icon {
            color: #9a0606;
          }
        }
      }
    }
  }
}
